*{
  box-sizing: border-box;
}
.product-cart{
  margin-top: 7.3%;
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.cart{
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
background: #927c8f;
box-shadow:  8px 8px 16px #7c697a,
             -8px -8px 16px #a88fa4;
}
.details{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.details img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.ratings img{
  width:15px;
  height: 15px;
}
.ratings{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.quantity{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.quantity form{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.quantity form button{
  padding: 0.3rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.quantity small{
  font-size: 1.5rem;
}
.cart-heading{
  display: flex;
  justify-content: center;
}
.cart-heading h1{
  font-size: 2.5rem;
}
.payment-btn{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.payment-btn button{
  width: 100%;
  background-color: green;
  outline: none;
  border: none;
  color: #fff;
  padding: 0.5rem 10rem 0.5rem 10rem;
  font-size: 1.2rem;
  cursor: pointer;
}
#trash{
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}
.cart-main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 70%;
}
.address-main{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.add-address{
  border: 2px solid black;
  padding: 1rem 3rem 1rem 3rem;
}
.make-btn{
  display: flex;
  justify-content: center;
}
.button{
  background: black;
  color: #fff;
  width: 80%;
  border: none;
  outline: none;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 5%;
}
#form-address{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
textarea{
  padding: 0.5rem;
  resize: none;
  font-size: 1rem;
  width: 100%;
}
textarea:focus{
  outline: none;
  border: 1px solid black;
}

@media (max-width:576px){
  .product-cart{
    margin-top: 10%;
  }
  .details img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  .headings h1{
    font-size: 1rem;
  }
  .quantity h1{
    font-size: 1rem;
  }
  .quantity small{
    font-size: 1rem;
  }
  .quantity #trash{
    font-size: 1rem;
  }
}
