<div class="about-us">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="about-splash">
    <img src="../../assets/aboutus.jpg" alt="">
    <div class="about-heading">
      <h1>About us</h1>
    </div>
  </div>
  <div class="para-about">
    <p>Our journey began with a passion for baking and a commitment to quality. What started as a humble kitchen experiment quickly turned into a thriving online cakery, thanks to the love and support of our amazing customers.</p>
  </div>

  <div class="about-cover">
    <div class="about-cover-details">
    <div>
      <h1>Crafting Delectable Delights. From Our Ovens. For Your Joy.</h1>
    </div>
    <div>
      <img src="../../assets/cake-about.jpeg" alt="">
    </div>
  </div>
  </div>

  <div class="design-heading">
    <div >
      <h1>Cake <span>Designs</span></h1>
    </div>
  <div class="cake-designs">
    <div>
      <img src="../../assets/design-1.jpg" alt="">
    </div>
    <div>
      <img src="../../assets/design2.jpg" alt="">
    </div>
    <div>
      <img src="../../assets/design-3.jpg" alt="">
    </div>
  </div>
</div>
<div>
  <app-footer></app-footer>
</div>
</div>
