<div class="main-container">
<div class="logo-website">
    <a routerLink=""><img src="../../assets/cakery shop logo.png" alt=""></a>
</div>
<div class="loginpage">
    <div class="login-arrange">
        <div class="login-splash">
           <img src="../../assets/login.jpg" alt="">
        </div>
        <form action="" [formGroup]="loginvalidate" (ngSubmit)="loginvalidate.valid && loginSubmit()">
            <div class="heading">
                <h1>Login</h1>
            </div>
            <div>
                <input type="email" placeholder="Enter Email ID" formControlName="email">
                @if (loginvalidate.controls['email'].errors?.['required'] && loginvalidate.controls['email'].dirty) {
                    <div>
                    <small>Email ID is required</small>
                    </div>
                }
                @else if (loginvalidate.controls['email'].errors?.['pattern']) {
                    <div>
                        <small>Enter Valid Email ID</small>
                    </div>
                }
            </div>
            <div class="control">
                <input type="password" placeholder="Enter password" formControlName="password" [type]="changes ? 'password':'false'" >
                <div class="pass-icon">
                  <i class="fa-solid fa-eye-slash" [ngClass]="{'fa-eye-slash': field,'fa-eye':!field}" (click)="changeIcon()"></i>
                </div>
                @if (loginvalidate.controls['password'].errors?.['required'] && loginvalidate.controls['password'].dirty) {
                    <div>
                    <small>Password is required</small>
                    </div>
                }
                @else if (loginvalidate.controls['password'].errors?.['pattern']) {
                    <div>
                        <small>Password should contain 8 Characters</small>
                    </div>
                }
            </div>
            <div class="button">
                <button>Login</button>
            </div>
            <div class="forgot">
                <a routerLink="/forgotpassword">Forgot password?</a>
            </div>
            <div class="signup-nav">
                <p>Don't have an account? <a (click)="registerPage()">Sign up</a></p>
            </div>
        </form>
    </div>
</div>
</div>
