<div class="main-products">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="heading">
    <h1>Cakes Varieties</h1>
  </div>
  <div class="products-display">
    @for (item of products; track $index) {
    <div class="product">
      <div>
        <img src="{{item.img}}" alt="">
      </div>
      <div class="product-padding">
      <div>
        <h3>{{item.cakename}}</h3>
      </div>
      <!-- {{item.ratings}} -->
      <div class="ratings">
        @for (ratings123 of ratingsshown(item.ratings); track ratings123) {
        <div>
        <img src="../../assets/star.png" alt="nnvb">
      </div>
    }
    </div>
      <div>
        {{item.price | currency:'INR':'symbol':'1.0-0'}}
      </div>
      <div>
        <button class="btn" (click)="productName($index,this.item)">Add to cart</button>
      </div>
    </div>
    </div>
  }
  </div>
  <div>
    <app-footer></app-footer>
  </div>
  <!-- <div>
    <img src="../../assets/bread 1.jpg" alt="">
    <img src="../../assets/bread 2.jpg" alt="">
  </div> -->
</div>
